<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Trends</title>
</head>
<body>
    <!-- global trends -->
    <div class="container" style="display: flex; justify-content:center; align-items:center; margin:30px auto;">
        <div class="wrapper" hx-get="{% url 'fetch:index-page' %}" hx-trigger="every 20s" hx-swap="innerHTML" hx-target="this">
            {% for trend in trendings %}
            <p>{{trend.name}}</p> <a href="{{trend.url}}" target="_blank">click here</a>
            {% endfor %}
        </div>

    </div>
    
</body>
</html>